@{
    ViewData["Title"] = "Reportes";
}

<div class="p-4 bg-white mb-4">
    <h4 class="card-title m-0 p-0">Reportes</h4>
</div>

<div class="container-fluid bg-white p-4">
    <div id="reports-app"></div>
</div>

@section Scripts {
    <vite-script entry="reports" dev-server="http://localhost:5173"></vite-script>
    <vite-style entry="reports"></vite-style>
}