@model WorkshopsGov.Models.Inspection


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/gasolina.css" />


<div class="container-fluid" id="inspections-app"></div>

@section Scripts {
<vite-script entry="inspections" dev-server="http://localhost:5173"></vite-script>
<vite-style entry="inspections"></vite-style>
}

