@model WorkshopsGov.Models.Inspection

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Inspection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MemoNumber" class="control-label"></label>
                <input asp-for="MemoNumber" class="form-control" />
                <span asp-validation-for="MemoNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatorName" class="control-label"></label>
                <input asp-for="OperatorName" class="form-control" />
                <span asp-validation-for="OperatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionServiceId" class="control-label"></label>
                <select asp-for="InspectionServiceId" class="form-control" asp-items="ViewBag.InspectionServiceId"></select>
                <span asp-validation-for="InspectionServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalWorkshopBranchId" class="control-label"></label>
                <select asp-for="ExternalWorkshopBranchId" class="form-control" asp-items="ViewBag.ExternalWorkshopBranchId"></select>
                <span asp-validation-for="ExternalWorkshopBranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceUnit" class="control-label"></label>
                <input asp-for="DistanceUnit" class="form-control" />
                <span asp-validation-for="DistanceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceValue" class="control-label"></label>
                <input asp-for="DistanceValue" class="form-control" />
                <span asp-validation-for="DistanceValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelLevel" class="control-label"></label>
                <input asp-for="FuelLevel" class="form-control" />
                <span asp-validation-for="FuelLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FailureReport" class="control-label"></label>
                <input asp-for="FailureReport" class="form-control" />
                <span asp-validation-for="FailureReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleFailureObservation" class="control-label"></label>
                <input asp-for="VehicleFailureObservation" class="form-control" />
                <span asp-validation-for="VehicleFailureObservation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TowRequired" /> @Html.DisplayNameFor(model => model.TowRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InspectionStatusId" class="control-label"></label>
                <select asp-for="InspectionStatusId" class="form-control" asp-items="ViewBag.InspectionStatusId"></select>
                <span asp-validation-for="InspectionStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostic" class="control-label"></label>
                <input asp-for="Diagnostic" class="form-control" />
                <span asp-validation-for="Diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
