@model WorkshopsGov.Models.DiagnosticPart

@{
    ViewData["Title"] = "Create";
}
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a asp-action="Index">Catalogos de Fallas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregar nuevo catalogo de falla</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre de la falla</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


