@model IEnumerable<WorkshopsGov.Models.DiagnosticPart>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="header-title">
            <h4 class="card-title">Catálogo de fallas</h4>
        </div>
        <a asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card-body p-0">

        <div class="table-responsive mt-4">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>Descripción </th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>