@model WorkshopsGov.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a asp-action="Index">Padrón Vehicular</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregar nuevo vehiculo</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Oficialia" class="control-label">Oficialía</label>
                                <input asp-for="Oficialia" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="LicensePlate" class="control-label">Numero Económico</label>
                                <input asp-for="LicensePlate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="VinNumber" class="control-label">Serie</label>
                                <input asp-for="VinNumber" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SectorId" class="control-label">Sector</label>
                        <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label">Departamento</label>
                        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleStatusId" class="control-label">Estado del Vehiculo</label>
                        <select asp-for="VehicleStatusId" class="form-control" asp-items="ViewBag.VehicleStatusId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleTypeId" class="control-label">Tipo de Vehiculo</label>
                        <select asp-for="VehicleTypeId" class="form-control" asp-items="ViewBag.VehicleTypeId"></select>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Year" class="control-label">Año</label>
                                <input asp-for="Year" class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Engine" class="control-label">Motor</label>
                                <input asp-for="Engine" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BrandId" class="control-label">Marca</label>
                                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ModelId" class="control-label">Modelo</label>
                                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Descripción del Vehículo</label>
                                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    
                 
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

