@{
    ViewData["Title"] = "Ingex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="reviewCenter-app"></div>

@section Scripts {
    <vite-script entry="reviewCenter" dev-server="http://localhost:5173"></vite-script>
    <vite-style entry="reviewCenter"></vite-style>
}

