@model WorkshopsGov.Models.ExternalWorkshop

@{
    ViewData["Title"] = "Agregar nuevo taller externo";
}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a asp-action="Index">Talleres Externos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregar nuevo taller externo</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h4>Datos del Taller</h4>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre del taller</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <hr />

                    <h4>Datos del Usuario del Taller</h4>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="UserEmail" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="UserPassword" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input type="password" name="ConfirmPassword" class="form-control" required />
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Guardar taller y registrar usuario" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
