@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<div class="wrapper">
    <section class="login-content">
        <div class="row m-0 vh-100 d-flex justify-content-center align-items-center bg-white">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                            <div class="card-body">
                                <img src="~/images/auth/sspcm24.png" width="100%" height="20%" />
                                <h5 class="mb-2 text-center">Talleres | Secretaria de Seguridad Publica Municipal</h5>
                                <p class="text-center"> Inicie sesión para mantenerse conectado.</p>
                                <form id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">Nombre de Usuario</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button id="login-submit" type="submit" class="btn btn btn-primary float-end">Iniciar</button>
                                    </div>
                                    <p class="text-center my-3">
                                        Para acceso único de personal autorizado.<br />
                                        Todos los intentos para entrar serán monitoreados.
                                    </p>
                                    <div>
                                    <small>*Enlaces de pruebas</small>
                                        <table class="table">
                                            <tr>
                                                <td><a id="forgot-password" asp-page="./ForgotPassword">Restaurar pass</a> </td>
                                                <td><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar</a> </td>
                                                <td><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Restaurar Email</a> </td>
                                            </tr>
                                            <tr>
                                                <td>asmith@example.com (Administrador)</td>
                                                <td>Password123!</td>
                                            </tr>
                                            <tr>
                                                <td>jdoe@example.com (Verificador)</td>
                                                <td>Password123!</td>
                                            </tr>
                                             <tr>
                                                <td>taller@example.com (Taller Externo)</td>
                                                <td>Password123!</td>
                                            </tr>

                                        </table>
                                    </div>
                                </form>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
