@model WorkshopsGov.Models.RequestService


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="RequestServices-app"></div>

@section Scripts {
    <vite-script entry="request_services" dev-server="http://localhost:5173"></vite-script>
    <vite-style entry="request_services"></vite-style>
}

