@model WorkshopsGov.Models.Sector

@{
    ViewData["Title"] = "Editar";
}
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a asp-action="Index">Sectores</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar sector</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre de sector</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" />Activo
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Actualizar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


