@* En tu vista Razor específica, por ejemplo Views/Dashboard/Index.cshtml *@
@{
    ViewData["Title"] = "Playground";
}

<div class="container">
    <h1>Playground Index</h1>
    
    @* Aquí incluyes el div donde se montará tu componente Vue *@
    <div id="playground-app"></div>
</div>

@section Scripts {
    <vite-script entry="user_permission" dev-server="http://localhost:5173"></vite-script>
    <vite-style entry="user_permission"></vite-style>
    
    <script>
        function mostrarModal(id) {
            window.mostrarModal(id);
        }
    </script>
}